body {
  margin: 0;
}
.wrapper {
  display: flex;
  align-items: center;
  border-top: 8px solid #a292b3;
  
  flex-direction: column;
  height: 100%;
}
.header {
  height: 130px;
  width: 1020px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.link-item {
  text-decoration: none;
  font-size: 19px;
  color: #545454;
  text-transform: capitalize;
  margin-right: 65px;
}
.link-item:last-child {
  margin-right: 0;
}
.banner {
  width: 1020px;
  height: 485px;
  background: url("../images/banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.slide-btn {
  width: 35px;
  height: 65px;
  background-color: #82699d;
  font-size: 40px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.banner-text {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.banner-title {
  text-transform: capitalize;
  font-size: 117px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-shadow: -4px 5px 0 rgba(0, 0, 0, 0.45);
  margin-bottom: 30px;
}
.banner-description {
  font-size: 31px;
  text-shadow: -2px 2px 0 rgba(0, 0, 0, 0.45);
}
.tips {
  font-size: 23px;
  font-style: italic;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 32px;
  width: 1020px;
  text-align: center;
  padding: 20px 50px 25px 50px;
  border-top: 1px solid #bfbfbf;
  border-bottom: 1px solid #bfbfbf;
  box-sizing: border-box;
  
}
.tips-bold {
  color: #82699d;
  font-weight: bold;
}
.description {
  width: 1020px;
  height: 315px;
  padding: 0px 22px;
  box-sizing: border-box;
  display: flex;
  position: relative;
  margin-top: 31px;
  align-items: center;
}
.description-more {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #838383;
  font-size: 13px;
  font-style: italic;
  cursor: pointer;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.description-more:hover {
  filter: hue-rotate(360deg);
  transition: .4s;
  color: #82699d;
}
.description-info {
  margin-left: 32px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.description-header {
  font-weight: bold;
  font-size: 31px;
}
.description-text {
  font-weight: 400;
  font-size: 15px;
  color: #838383;
}
/*hr {
  color: #bfbfbf;
  border-top: 1px solid;
  border-bottom: 0px;
  width: 1000px;
  margin: 0px;
}
.clients-line-single {
  border-top: 1px dotted;
  margin: 1px;
  width: 693px;
}*/
.clients-title {
  font-size: 23px;
}
.clients-title-bold {
  font-weight: bold;
}
.clients {
  width: 1020px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 56px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  white-space: nowrap;
}
.clients-line {
  width: 100%;
  margin-left: 8px;
  border-top: 6px dotted #bfbfbf;
}
/*table,
th,
td {
  background-color: #f5f5f5;
  width: 1020px;
  height: 71px;
  border: 1px solid #dedede;
  border-collapse: collapse;
  margin-bottom: 60px;
}*/
.clients-table {
  width: 1020px;
  background-color: #f5f5f5;
  border: 1px solid #dedede;
  display: flex;
  box-sizing: border-box;
  margin: 44px 0 61px 0;
}
.clients-item {
  width: 100%;
  height: 73px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #dedede;
}
.clients-item:last-child {
  border-right: none;
}
.footer {
  width: 100%;
  height: 67px;
  display: flex;
  justify-content: center;
  background: linear-gradient(to right, red 20%, yellow 40%);
  border-bottom: 8px solid #a292b3;
}
.footer-content {
  width: 1020px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.footer-links {
  width: 83px;
  display: flex;
  justify-content: space-between;
}
.menu {
  width: 80px;
  height: 80px;
  border: 3px solid #82699d;
  box-sizing: border-box;
  border-radius: 10px;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
}
.menu-line {
  width: 50px;
  height: 3px;
  background-color: #82699d;
  position: relative;
  transition: .3s;
}
.menu-line::before {
  content: "";
  width: 50px;
  height: 3px;
  background-color: #82699d;
  position: absolute;
  left: 0;
  bottom: 15px;
  transition: .3s;
}
.menu-line::after {
  content: "";
  width: 50px;
  height: 3px;
  background-color: #82699d;
  position: absolute;
  left: 0;
  top: 15px;
  transition: .3s;
}
.menu:hover > .menu-line {
  background-color: transparent;
}
.menu:hover > .menu-line::after {
  transform: rotate(-45deg);
  top: 0;
}
.menu:hover > .menu-line::before {
  transform: rotate(45deg);
  bottom: 0;
}
@media screen and (max-width: 1020px) {
  .header {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
  }
  .logo {
    width: 150px;
  }
  .banner {
    width: 100%;
  }
  .banner-title {
    font-size: 70px;
  }
  .tips {
    width: 100%;
  }
  .description {
    width: 100%;
    flex-direction: column;
    height: auto;
  }
  .clients {
    width: 100%;
    justify-content: center;
  }
  .clients-title {
    font-size: 17px;
  }
  .clients-line {
    display: none;
  }
  .clients-table {
    width: 100%;
    flex-direction: column;
  }
  .footer-content {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
  }
  .links {
    display: none;
  }
  .menu {
    display: flex;
  }
}
